<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<%if post_show_page? %>
  <%= delete_post_button(@post.id) %>
<% end %>
<div class="msg">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">                
          <form action="/comment" method="post">
            <textarea  class="form-control counted" if="title" name="title" placeholder="Title" rows="1"></textarea>
            <textarea class="form-control counted" id="body" name="body" placeholder="Your comment" rows="5"></textarea>
            <button class="btn btn-info" type="submit">Add new comment</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<fieldset>
    <div id="legend">
      <legend class="">Comments</legend>
    </div>
<% unless Comment.all==nil %>
<% @post.comments.each do |post| %>
<% @com=post.body %>
<% @title=post.title %>
<% @nam=post.user_name %>
<div class="comm">
    <div class="control-group">                  
      <div class="controls">
        <% if @nam %>
      <label class="control-label">User:<%= @nam %></label>
      <% else %>
      <label class="control-label">User:<%= "Anonym" %></label>
      <% end %>
        <input class="form-control" id="disabledInput" type="text" placeholder="Title:" disabled>
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">                
                <%= @com %>
                <div class="com">
                <% if @post.user_id == @id %>
                <%= delete_comment_button(@delcom) %>
                <% end %> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>