<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<%if post_show_page? %>
  <%= delete_post_button(@post.id) %>
<% end %>
<div class="msg">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">                
          <form action="/comment" method="post">
            <textarea id="comm_title" class="form-control counted" name="comm[title]" placeholder="Title" rows="1"></textarea>
            <textarea id="comm_body" class="form-control counted" name="comm[body]" placeholder="Your comment" rows="5"></textarea>
            <button class="btn btn-info" type="submit">Add new comment</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% unless Comment.all==nil %>
<div class="comm">
<fieldset>
    <div id="legend">
      <legend class="">Comments</legend>
    </div>
    <div class="control-group">
      <% unless session[:name]==nil %>
      <% User.all.each do |user| %>
      <label class="control-label"  for="username">User:<%=user.name%></label>
      <% end %>
      <% else %>
       <label class="control-label"  for="username">User: Anonym </label>
       <% end %>
      <div class="controls">
        <% Comment.all.each do |comm| %>
        <input class="form-control" id="disabledInput" type="text" placeholder="Title: <%= comm.title %>" disabled>
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">                
                <%= comm.body %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>


        
